/* SECTION: Animations */
@keyframes carouselSlide {
  0% {
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  26% {
    opacity: 1;
  }

  32% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes heroSlideShow {
  0% {
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  26% {
    opacity: 1;
  }

  32% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes partnersCarouselLoop {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}
